@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  display: none;
}

*:focus {
  outline: none;
}

@media (pointer: coarse) {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
